.end-menu {
  width: 50%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #747f8f;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid #707070;
  border-right: 4px solid #707070;
  transition: 0.5s all;
  font-family: nocontinue;
}

.text {
  font-size: 2.5rem;
  color: rgb(231, 222, 222);
}

.buttons {
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 100%;
}

.end-button {
  font-size: 1.5rem;
  width: 40%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
  cursor: pointer;
  transition: 0.5s all;

  background-color: #bdbdbd;
  border-top: 4px solid white;
  border-left: 4px solid white;
  border-bottom: 4px solid #707070;
  border-right: 4px solid #707070;
}

.end-button:hover {
  background-color: white;
  border-top: 4px solid #7d7d7d;
  border-left: 4px solid #7d7d7d;
  border-bottom: 4px solid #7d7d7d;
  border-right: 4px solid #7d7d7d;
}
