.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selection-text {
  font-size: 2rem;
  margin-top: 5rem;
}

.dificulties {
  display: flex;
  margin-bottom: 2rem;
}

.dificulty-button {
  margin: 5px;
  width: 150px;
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.5s all;
}

.start-game {
  font-size: 2.5rem;

  padding: 2rem 4rem 2rem 4rem;

  cursor: pointer;
  background-color: #bdbdbd;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid #707070;
  border-right: 3px solid #707070;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 150px;
  height: 2.5rem;
  cursor: pointer;
  background-color: #bdbdbd;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid #707070;
  border-right: 3px solid #707070;
}
