.title {
  font-size: 3rem;
}

.reset {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  background-size: cover;
  background-position: center;
  margin: 10px;
  cursor: pointer;
}

.info {
  background-color: black;
  color: red;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  width: 10%;
  font-family: Crashed;
  margin: 5px;
}

.info-image {
  height: 80%;
  width: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.info-number {
  width: 30%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 100%;
}
