.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    184deg,
    rgba(195, 195, 212, 1) 0%,
    rgba(255, 255, 255, 1) 70%
  );
}

.game-title {
  font-family: Arcade;
  height: 10vh;
  position: absolute;
  top: 0;
  transition: 0.5s all;
}

.footer {
  position: fixed;
  font-family: nocontinue;
  bottom: 10px;
  font-size: 1.5rem;
}

.sound-icon {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
