body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Crashed';
  src: local('Crashed'), url(./fonts/Crashed\ Scoreboard.ttf) format('truetype');
}

@font-face {
  font-family: 'GameOver';
  src: local('GameOver'), url(./fonts/game_over.ttf) format('truetype');
}

@font-face {
  font-family: 'Arcade';
  src: local('Arcade'), url(./fonts/Arcade.TTF) format('truetype');
}